In [1]:
import pandas as pd
import numpy as np

In [3]:
df =pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [6]:
df.shape

(194673, 38)

In [7]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [8]:
df.info

<bound method DataFrame.info of         SEVERITYCODE           X          Y  OBJECTID  INCKEY  COLDETKEY  \
0                  2 -122.323148  47.703140         1    1307       1307
1                  1 -122.347294  47.647172         2   52200      52200
2                  1 -122.334540  47.607871         3   26700      26700
3                  1 -122.334803  47.604803         4    1144       1144
4                  2 -122.306426  47.545739         5   17700      17700
5                  1 -122.387598  47.690575         6  320840     322340
6                  1 -122.338485  47.618534         7   83300      83300
7                  2 -122.320780  47.614076         9  330897     332397
8                  1 -122.335930  47.611904        10   63400      63400
9                  2 -122.384700  47.528475        12   58600      58600
10                 1         NaN        NaN        14   48900      48900
11                 1 -122.333831  47.547371        15   38800      38800
12                 1 -122.356273  47.571375        16    2771       2771
13                 1 -122.323966  47.606374        17   32800      32800
14                 2 -122.317414  47.664028        19    1212       1212
15                 1 -122.337663  47.617510        20  330878     332378
16                 2 -122.344539  47.692012        21   46300      46300
17                 1         NaN        NaN        23   23000      23000
18                 2 -122.328270  47.571420        24  330833     332333
19                 1 -122.383802  47.583715        25   97100      97100
20                 2 -122.292403  47.732847        26    1347       1347
21                 2 -122.313786  47.708535        28    1323       1323
22                 1 -122.318169  47.615837        29   80000      80000
23                 1 -122.337486  47.589746        31   28700      28700
24                 2 -122.279658  47.553405        33    1268       1268
25                 2 -122.312857  47.599218        34  320932     322432
26                 1 -122.330730  47.615450        35  113300     113300
27                 1 -122.385859  47.581191        36   64700      64700
28                 1 -122.304990  47.611474        37    1083       1083
29                 1         NaN        NaN        38   61500      61500
...              ...         ...        ...       ...     ...        ...
194643             1 -122.345863  47.612991    219510  307577     308857
194644             1 -122.330298  47.603233    219511  312117     313537
194645             2 -122.328079  47.604161    219512  307692     308972
194646             1 -122.320756  47.608656    219513  312289     313709
194647             2 -122.355449  47.704720    219514  308575     309855
194648             1 -122.357624  47.635956    219515  307792     309072
194649             2 -122.302382  47.626759    219516  307985     309265
194650             2 -122.355298  47.684382    219517  310417     311717
194651             1 -122.320780  47.614076    219519  309594     310874
194652             1 -122.335527  47.617434    219520  308698     309978
194653             2 -122.322097  47.649615    219521  308342     309622
194654             1 -122.312679  47.719414    219522  311117     312437
194655             2 -122.380016  47.664879    219523  310911     312231
194656             2 -122.340474  47.614496    219524  312179     313599
194657             1 -122.337137  47.610709    219525  307834     309114
194658             1 -122.302554  47.584099    219528  311697     313057
194659             1 -122.298955  47.717456    219529  308019     309299
194660             2         NaN        NaN    219531  308990     310270
194661             2 -122.306092  47.617881    219532  308532     309812
194662             1 -122.337880  47.625793    219535  307802     309082
194663             2 -122.299160  47.579673    219536  309335     310615
194664             1 -122.325887  47.643191    219537  309222     310502
194665             1 -122.304217  47.669537    219538  308480     309760
194666             2 -122.344569  47.694547    219539  309170     310450
194667             1 -122.361672  47.556722    219541  307804     309084
194668             2 -122.290826  47.565408    219543  309534     310814
194669             1 -122.344526  47.690924    219544  309085     310365
194670             2 -122.306689  47.683047    219545  311280     312640
194671             2 -122.355317  47.678734    219546  309514     310794
194672             1 -122.289360  47.611017    219547  308220     309500

       REPORTNO     STATUS      ADDRTYPE   INTKEY  ... ROADCOND  \
0       3502005    Matched  Intersection  37475.0  ...      Wet
1       2607959    Matched         Block      NaN  ...      Wet
2       1482393    Matched         Block      NaN  ...      Dry
3       3503937    Matched         Block      NaN  ...      Dry
4       1807429    Matched  Intersection  34387.0  ...      Wet
5       E919477    Matched  Intersection  36974.0  ...      Dry
6       3282542    Matched  Intersection  29510.0  ...      Wet
7       EA30304    Matched  Intersection  29745.0  ...      Dry
8       2071243    Matched         Block      NaN  ...      Dry
9       2072105    Matched  Intersection  34679.0  ...      Dry
10      2024040    Matched         Alley      NaN  ...      Dry
11      C654800    Matched  Intersection  33194.0  ...      Dry
12      1211870  Unmatched         Block      NaN  ...      Wet
13      2128498    Matched         Block      NaN  ...      Wet
14      3507861    Matched         Block      NaN  ...      Dry
15      3838086  Unmatched         Block      NaN  ...      NaN
16      2023080    Matched  Intersection  37365.0  ...      Dry
17       537838    Matched         Block      NaN  ...      Dry
18      EA29752    Matched         Block      NaN  ...      Dry
19      2894590    Matched         Block      NaN  ...      Dry
20      3608880    Matched         Block      NaN  ...      Dry
21      3502831    Matched  Intersection  36505.0  ...      Dry
22      2882620    Matched         Block      NaN  ...      Dry
23      1213894    Matched         Block      NaN  ...  Unknown
24      3672152    Matched  Intersection  33499.0  ...      Dry
25      E926429    Matched         Block      NaN  ...      Dry
26      3346338    Matched  Intersection  29865.0  ...      Wet
27      2798260    Matched         Block      NaN  ...      Dry
28      3605909    Matched         Block      NaN  ...      Dry
29      2607270    Matched         Block      NaN  ...      Dry
...         ...        ...           ...      ...  ...      ...
194643  3811871    Matched         Block      NaN  ...      Dry
194644  E885893    Matched  Intersection  30479.0  ...      Dry
194645  E851047    Matched  Intersection  29973.0  ...      Dry
194646  E872044  Unmatched         Block      NaN  ...      NaN
194647  E872078    Matched         Block      NaN  ...      Wet
194648  3578593    Matched         Block      NaN  ...      Wet
194649  E869075    Matched  Intersection  29328.0  ...      Dry
194650  3751221    Matched         Block      NaN  ...      Dry
194651  E881227    Matched  Intersection  29745.0  ...      Wet
194652  3812450    Matched         Block      NaN  ...      Wet
194653  3693206    Matched         Block      NaN  ...      Wet
194654  E881587  Unmatched  Intersection  36427.0  ...      NaN
194655  3751425  Unmatched  Intersection  25174.0  ...      NaN
194656  E885580    Matched  Intersection  29545.0  ...      Dry
194657  3811279    Matched         Block      NaN  ...      Wet
194658  E886941    Matched         Block      NaN  ...      Wet
194659  3767486    Matched         Block      NaN  ...      Wet
194660  3811749    Matched         Block      NaN  ...      Wet
194661  3814599    Matched         Block      NaN  ...      Dry
194662  E869008    Matched         Block      NaN  ...      Dry
194663  E880807    Matched         Block      NaN  ...      Wet
194664  E879537    Matched  Intersection  28300.0  ...      Dry
194665  3642620    Matched  Intersection  26005.0  ...      Dry
194666  E879712    Matched         Block      NaN  ...      Wet
194667  3745813    Matched         Block      NaN  ...      Wet
194668  E871089    Matched         Block      NaN  ...      Dry
194669  E876731    Matched         Block      NaN  ...      Wet
194670  3809984    Matched  Intersection  24760.0  ...      Dry
194671  3810083    Matched  Intersection  24349.0  ...      Dry
194672  E868008    Matched         Block      NaN  ...      Wet

                      LIGHTCOND PEDROWNOTGRNT  SDOTCOLNUM SPEEDING ST_COLCODE  \
0                      Daylight           NaN         NaN      NaN         10
1       Dark - Street Lights On           NaN   6354039.0      NaN         11
2                      Daylight           NaN   4323031.0      NaN         32
3                      Daylight           NaN         NaN      NaN         23
4                      Daylight           NaN   4028032.0      NaN         10
5                      Daylight           NaN         NaN      NaN         10
6                      Daylight           NaN   8344002.0      NaN         10
7                      Daylight           NaN         NaN      NaN          5
8                      Daylight           NaN   6166014.0      NaN         32
9                      Daylight           NaN   6079001.0      NaN         10
10                     Daylight           NaN   6145029.0      NaN         22
11                     Daylight           NaN   5223041.0      NaN         10
12      Dark - Street Lights On           NaN   3137016.0      NaN         14
13      Dark - No Street Lights           NaN   5356027.0      NaN         32
14      Dark - Street Lights On           NaN         NaN      NaN         30
15                          NaN           NaN         NaN      NaN
16                     Daylight           NaN   5182022.0      NaN         28
17                     Daylight           NaN   4016025.0      NaN         14
18                     Daylight           NaN         NaN      NaN         14
19                      Unknown           NaN   9152035.0      NaN         32
20      Dark - Street Lights On           NaN         NaN      NaN         14
21                     Daylight           NaN         NaN      NaN         10
22      Dark - Street Lights On           NaN   8200013.0      NaN         32
23                      Unknown           NaN   4256026.0      NaN         51
24                     Daylight           NaN         NaN        Y         14
25                     Daylight           NaN         NaN      NaN          5
26                      Unknown           NaN  10317016.0      NaN         28
27                     Daylight           NaN   7204015.0      NaN         10
28                     Daylight           NaN         NaN      NaN         23
29                     Daylight           NaN   6320040.0      NaN         32
...                         ...           ...         ...      ...        ...
194643  Dark - Street Lights On           NaN         NaN      NaN         20
194644                     Dusk           NaN         NaN      NaN         10
194645  Dark - Street Lights On           NaN         NaN      NaN         16
194646                      NaN           NaN         NaN      NaN
194647                     Dusk           NaN         NaN      NaN          0
194648  Dark - Street Lights On           NaN         NaN      NaN         10
194649  Dark - Street Lights On           NaN         NaN      NaN         28
194650                 Daylight           NaN         NaN      NaN         32
194651  Dark - Street Lights On           NaN         NaN      NaN          0
194652                     Dusk           NaN         NaN      NaN         32
194653  Dark - Street Lights On           NaN         NaN      NaN         32
194654                      NaN           NaN         NaN      NaN
194655                      NaN           NaN         NaN      NaN
194656                 Daylight           NaN         NaN      NaN          2
194657  Dark - Street Lights On           NaN         NaN      NaN         11
194658  Dark - Street Lights On           NaN         NaN      NaN         14
194659  Dark - Street Lights On           NaN         NaN      NaN         32
194660                    Other           NaN         NaN      NaN         52
194661                 Daylight           NaN         NaN      NaN         29
194662                     Dusk           NaN         NaN      NaN         32
194663                 Daylight           NaN         NaN      NaN         10
194664                 Daylight           NaN         NaN      NaN         10
194665                 Daylight           NaN         NaN      NaN         10
194666                 Daylight           NaN         NaN      NaN         10
194667  Dark - Street Lights On           NaN         NaN      NaN         50
194668                 Daylight           NaN         NaN      NaN         24
194669                 Daylight           NaN         NaN      NaN         13
194670                 Daylight           NaN         NaN      NaN         28
194671                     Dusk           NaN         NaN      NaN          5
194672                 Daylight           NaN         NaN      NaN         14

                                               ST_COLDESC  SEGLANEKEY  \
0                                       Entering at angle           0
1       From same direction - both going straight - bo...           0
2                                  One parked--one moving           0
3                        From same direction - all others           0
4                                       Entering at angle           0
5                                       Entering at angle           0
6                                       Entering at angle           0
7                            Vehicle Strikes Pedalcyclist        6855
8                                  One parked--one moving           0
9                                       Entering at angle           0
10                        One car leaving driveway access           0
11                                      Entering at angle           0
12      From same direction - both going straight - on...           0
13                                 One parked--one moving           0
14                   From opposite direction - all others           0
15                                                    NaN           0
16      From opposite direction - one left turn - one ...           0
17      From same direction - both going straight - on...           0
18      From same direction - both going straight - on...           0
19                                 One parked--one moving           0
20      From same direction - both going straight - on...           0
21                                      Entering at angle           0
22                                 One parked--one moving           0
23                                           Other object           0
24      From same direction - both going straight - on...           0
25                           Vehicle Strikes Pedalcyclist           0
26      From opposite direction - one left turn - one ...           0
27                                      Entering at angle           0
28                       From same direction - all others           0
29                                 One parked--one moving           0
...                                                   ...         ...
194643                    One car leaving parked position           0
194644                                  Entering at angle           0
194645  From same direction - one right turn - one str...           0
194646                                                NaN           0
194647             Vehicle going straight hits pedestrian           0
194648                                  Entering at angle           0
194649  From opposite direction - one left turn - one ...           0
194650                             One parked--one moving           0
194651             Vehicle going straight hits pedestrian           0
194652                             One parked--one moving           0
194653                             One parked--one moving           0
194654                                                NaN           0
194655                                                NaN           0
194656               Vehicle turning left hits pedestrian           0
194657  From same direction - both going straight - bo...           0
194658  From same direction - both going straight - on...           0
194659                             One parked--one moving           0
194660                                 Vehicle overturned           0
194661  From opposite direction - one left turn - one ...           0
194662                             One parked--one moving           0
194663                                  Entering at angle           0
194664                                  Entering at angle           0
194665                                  Entering at angle           0
194666                                  Entering at angle           0
194667                                       Fixed object           0
194668    From opposite direction - both moving - head-on           0
194669  From same direction - both going straight - bo...           0
194670  From opposite direction - one left turn - one ...           0
194671                       Vehicle Strikes Pedalcyclist        4308
194672  From same direction - both going straight - on...           0

        CROSSWALKKEY  HITPARKEDCAR
0                  0             N
1                  0             N
2                  0             N
3                  0             N
4                  0             N
5                  0             N
6                  0             N
7                  0             N
8                  0             N
9                  0             N
10                 0             N
11                 0             N
12                 0             N
13                 0             N
14                 0             N
15                 0             N
16                 0             N
17                 0             N
18                 0             N
19                 0             N
20                 0             N
21                 0             N
22                 0             N
23                 0             N
24                 0             N
25                 0             N
26                 0             N
27                 0             N
28                 0             N
29                 0             N
...              ...           ...
194643             0             N
194644             0             N
194645             0             N
194646             0             N
194647             0             N
194648             0             N
194649             0             N
194650             0             Y
194651        522257             N
194652             0             Y
194653             0             Y
194654             0             N
194655        650595             N
194656        523322             N
194657             0             N
194658             0             N
194659             0             Y
194660             0             N
194661             0             N
194662             0             Y
194663             0             N
194664             0             N
194665             0             N
194666             0             N
194667             0             N
194668             0             N
194669             0             N
194670             0             N
194671             0             N
194672             0             N

[194673 rows x 38 columns]>

In [13]:
# Remove unnecessary data [Drop these columns]
colData = df.drop(columns = ['OBJECTID', 'SEVERITYCODE.1', 'REPORTNO', 'INCKEY', 'COLDETKEY', 
              'X', 'Y', 'STATUS','ADDRTYPE',
              'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
              'EXCEPTRSNDESC', 'SEVERITYDESC', 'INCDATE',
              'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE',
              'SDOT_COLDESC', 'PEDROWNOTGRNT', 'SDOTCOLNUM',
              'ST_COLCODE', 'ST_COLDESC', 'SEGLANEKEY',
              'CROSSWALKKEY', 'HITPARKEDCAR', 'PEDCOUNT', 'PEDCYLCOUNT',
              'PERSONCOUNT', 'VEHCOUNT', 'COLLISIONTYPE',
              'SPEEDING', 'UNDERINFL', 'INATTENTIONIND'])

In [14]:
colData.columns

Index(['SEVERITYCODE', 'WEATHER', 'ROADCOND', 'LIGHTCOND'], dtype='object')

In [15]:
colData.head(5)

   SEVERITYCODE   WEATHER ROADCOND                LIGHTCOND
0             2  Overcast      Wet                 Daylight
1             1   Raining      Wet  Dark - Street Lights On
2             1  Overcast      Dry                 Daylight
3             1     Clear      Dry                 Daylight
4             2   Raining      Wet                 Daylight

In [16]:
# Convert column to category
colData["WEATHER"] = colData["WEATHER"].astype('category')
colData["ROADCOND"] = colData["ROADCOND"].astype('category')
colData["LIGHTCOND"] = colData["LIGHTCOND"].astype('category')

# Assign variable to new column for analysis
colData["WEATHER_CAT"] = colData["WEATHER"].cat.codes
colData["ROADCOND_CAT"] = colData["ROADCOND"].cat.codes
colData["LIGHTCOND_CAT"] = colData["LIGHTCOND"].cat.codes

colData.head(5)

,SEVERITYCODE,WEATHER,ROADCOND,LIGHTCOND,WEATHER_CAT,ROADCOND_CAT,LIGHTCOND_CAT
0,2,Overcast,Wet,Daylight,4,8,5
1,1,Raining,Wet,Dark - Street Lights On,6,8,2
2,1,Overcast,Dry,Daylight,4,0,5
3,1,Clear,Dry,Daylight,1,0,5
4,2,Raining,Wet,Daylight,6,8,5

In [17]:
colData.dtypes

SEVERITYCODE        int64
WEATHER          category
ROADCOND         category
LIGHTCOND        category
WEATHER_CAT          int8
ROADCOND_CAT         int8
LIGHTCOND_CAT        int8
dtype: object

In [19]:
colData.describe()

        SEVERITYCODE    WEATHER_CAT   ROADCOND_CAT  LIGHTCOND_CAT
count  194673.000000  194673.000000  194673.000000  194673.000000
mean        1.298901       2.977254       2.507122       4.256420
std         0.457778       2.892011       3.648660       1.900722
min         1.000000      -1.000000      -1.000000      -1.000000
25%         1.000000       1.000000       0.000000       2.000000
50%         1.000000       1.000000       0.000000       5.000000
75%         2.000000       6.000000       7.000000       5.000000
max         2.000000      10.000000       8.000000       8.000000

In [20]:
colData["SEVERITYCODE"].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [21]:
colData["WEATHER"].value_counts()

Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [22]:
colData["ROADCOND"].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [23]:
colData["LIGHTCOND"].value_counts()

Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [24]:
from sklearn.utils import resample

In [25]:
# Seperate majority and minority classes
colData_majority = colData[colData.SEVERITYCODE==1]
colData_minority = colData[colData.SEVERITYCODE==2]

#Downsample majority class
colData_majority_downsampled = resample(colData_majority,
                                        replace=False,
                                        n_samples=58188,
                                        random_state=123)

# Combine minority class with downsampled majority class
colData_balanced = pd.concat([colData_majority_downsampled, colData_minority])

# Display new class counts
colData_balanced.SEVERITYCODE.value_counts()

2    58188
1    58188
Name: SEVERITYCODE, dtype: int64

In [26]:
colData_balanced.shape

(116376, 7)